.container {
  margin: 0;
  padding: 15px;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.5rem;
}

.content_todo {
  height: calc(100vh - 265px);
  overflow-y: auto;
}
